.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  /* backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.1); */
}

.team-member-content {
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden !important;
}

.team-socials img {
  cursor: pointer !important;
}

@media (width >= 786px) {
  .popup::-webkit-scrollbar {
    width: 10px;
    background: #e5e1e1;
    border-radius: 15px;
  }
  .popup::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--brand-color-3);
  }
}
