#bookContainer {
  background: linear-gradient(to bottom, #060751 35%, #020218, black) !important;
}

.ballo-mag-canvas {
  height: 100%;
}

.ballo-mag-page:first-child {
  /* opacity: 0 !important;  */
}

.ballo-mag-fullscreen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

.ballo-mag-fullscreen > div:first-child {
  margin-top: 0;
}

@media (width <= 768px) {
  .ballo-mag-canvas-container {
    display: none !important;
  }
}