.logo-ring-container svg {
  width: 52.5%;
  position: absolute;
  top: 0;
  user-select: none;
}

.svg-container {
  position: sticky;
  /* top: 10vh; */
  width: 60vw;
  transform: translate(23.5%, 8.2em);
}

#bi-2 {
  bottom: 7em;
  width: 56%;
  margin-top: -2.5%;
  margin-left: -1.7%;
}

#bi-3 {
  margin-top: 0.25%;
  margin-left: 0.075%;
}

@media (max-width: 350px) {
  .logo-ring {
    left: -1.5% !important;
  }
}

@media ((min-width: 351px) and (max-width: 400px)) {
  .logo-ring {
    top: -0.1%;
    left: -2.5% !important;
  }
}

@media ((min-width: 401px) and (max-width: 415px)) {
  .logo-ring {
    top: -0.1%;
    left: -3% !important;
  }
}

@media ((min-width: 416px) and (max-width: 450px)) {
  .logo-ring {
    top: -0.1%;
    left: -4% !important;
  }
}

@media ((min-width: 451px) and (max-width: 500px)) {
  .logo-ring {
    top: -0.1%;
    left: -4.5% !important;
  }
}

@media ((min-width: 501px) and (max-width: 550px)) {
  .logo-ring {
    top: -0.3%;
    left: -5.5% !important;
  }
}

@media ((min-width: 551px) and (max-width: 600px)) {
  .logo-ring {
    top: -0.3%;
    left: -6% !important;
  }
}

@media ((min-width: 601px) and (max-width: 640px)) {
  .logo-ring {
    top: -0.3%;
    left: -6.5% !important;
  }
}

@media ((min-width: 641px) and (max-width: 720px)) {
  .logo-ring {
    width: calc(51% - 0.3em) !important;
    left: -7% !important;
  }
}

@media (max-width: 720px) {
  #hero-logo-img {
    top: 25vh;
    padding-left: 1.8rem !important;
  }

  .logo-ring {
    width: calc(52% - 0.3em);
    left: -5.5%;
  }

  .bi-logo {
    width: auto;
    min-width: 142vw;
    margin-left: -20%;
  }
}

@media (min-width: 720px) {
  #hero-logo-img {
    top: 35vh;
  }

  .logo-ring {
    left: 3.5%;
    width: calc(28% - 0.3em);
  }

  .bi-logo {
    width: calc(89% - 1em);
    min-width: 0;
    margin-left: -1.5rem;
  }
}

@media ((min-width: 750px) and (max-width: 1024px)) {
  .logo-ring {
    width: calc(28.5% - 0.3em) !important;
  }
}

@media (min-width: 1024px) {
  .logo-ring {
    width: calc(29% - 0.3em) !important;
    left: 4%;
  }
}
