.sub-links-container {
  display: none;
  position: absolute;
  padding-top: 0.5em;
}

.sub-links {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #0b4e8ced, #0b4d8c, #0b4d8c);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-weight: normal;
  color: white;
  line-height: 1.2em;
  box-shadow: 0 15px 20px 13px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.sub-links li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5em 2em;
}

.sub-links li:hover {
  background: whitesmoke;
  color: var(--brand-color-2);
}

.sub-links a:last-child li {
  border: none;
}

.light-bg-nav .sub-links {
  background: #03042cfc;
  color: white;
}

.light-bg-nav .sub-links li {
  border-color: white;
}

#works-link:hover .sub-links-container {
  display: flex !important;
}

@media (width <= 768px) {
  .sub-links {
    display: none !important;
  }
}
