.packages-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10%;
}

.package {
  flex: 1;
  text-align: center;
}

.package h3 {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 1em;
}

.package > div {
  border-radius: 25px;
  padding: 2em;
}

.package h4 {
  font-weight: bold;
  margin-top: 1em;
  font-size: 1.5em;
}

@media (width <= 1024px) {
  .packages-container {
    flex-wrap: wrap;
  }

  .package {
    width: 50%;
  }
}

@media (width <= 576px) {
  .packages-container {
    flex-direction: column;
  }

  .package {
    width: 100%;
  }

  .package h3 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}
