#svg_plane {
  position: absolute;
  top: 30vh;
  left: 0;
  color: #d8f5ff0e;
}

@media (width < 586px) {
  #paper-plane {
    margin-top: -30em !important;
    margin-left: -16em !important;
    z-index: 1;
  }
}
