.messageBubble {
  position: relative; 
  background-color: var(--brand-color-1);
  border-radius: 30px;
  padding: 10px 15px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  z-index: 2;
}

.pointer-left .pointer {
  content: '';
  position: absolute;
  bottom: 20%;
  left: -12.5px;
  height: 25px;
  width: 25px;
  background: var(--brand-color-1);
  border-radius: 50%;
  transform: rotate(-10deg);
}

.pointer-left .pointer::after {
  content: '';
  position: absolute;
  bottom: -10px;
  top: 0;
  left: -60%;
  height: 25px;
  width: 30px;
  background: var(--brand-color-5);
  border-bottom-right-radius: 50px;
}

.pointer-right {
  align-self: flex-end;
}

.pointer-right .pointer {
  content: '';
  position: absolute;
  bottom: 15%;
  right: -12.5px;
  height: 25px;
  width: 25px;
  background: var(--brand-color-1);
  border-radius: 50%;
  transform: rotate(10deg);
}

.pointer-right .pointer::after {
  content: '';
  position: absolute;
  bottom: -10px;
  top: 0;
  right: -60%;
  height: 25px;
  width: 30px;
  background: var(--brand-color-5);
  border-bottom-left-radius: 50px;
}
